@model BankOfSimba.ViewModels.Home.HomeViewModel
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title></title>
</head>
<body>
	<div>
		<table border="1" cellpadding="15" style="text-align:center">
			<tr style="font-weight: bold; background-color:goldenrod">
				<td>Index</td>
				<td>Name</td>
				<td>Animal Type</td>
				<td>Balance</td>
				<td>Loyalty</td>
				<td>Behaviour</td>
                <td>Raise</td>
			</tr>
			@foreach (var account in Model.Accounts)
            {
				<tr style="@((@account.IsKing) ? "color:crimson" : "color:black") ">
					<td>@(account.Id)</td>
					<td>@account.Name</td>
					<td>@account.AnimalType</td>
					<td>@account.Balance@String.Format(".00") Zebra</td>
					<td>@((@account.IsKing) ? "King" : "Not")</td>
					<td>@((@account.IsGood) ? "Goodguy" : "Badguy")</td>
                    @using (Html.BeginForm("action", "home"))
                    {
                        <input type ="hidden" name="Name" value="@Model.Accounts.ElementAt(account.Id).Name" />
                        <td><input type="submit"  value="Raise" /></td>

                    }
				</tr>
			}
		</table>
		</div>
</body>
</html>